@font-face {
    /* Set default font */
    font-family: roboto;
    src: url(../fonts/Roboto-Thin.ttf);
}

* {
    /* Set default settings for all elements */
    margin: 0;
    box-sizing: border-box;
    font-family: roboto; 
    color: white;
}

body {
    /* Set default font size to 100% */
    font-size: 100%;
}

#card {
    /* Create card with background image */
    height: 100vh;
    background: url(../images/sunny.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    /* Top half of card set to flex */
    height: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#search {
    /* Navigation set width and set to flex */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#location {
    /* Search bar set to translucent background */
    width: 50%;
    border: none;
    background-color: #000000;
    opacity: 0.25;
    border-radius: 20px 0 0 20px;
    text-align: center;
    color: white;
}

::placeholder {
    /* Placeholder text set to white */
    color: white;
}

#search-button {
    /* Search button style */
    border: none;
    background-color: #000000;
    opacity: 0.25;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    padding: 5px;
}

#search-button img {
    /* Set size of search button */
    width: 20px;
}

#city-name {
    /* Set size and center city name */
    font-size: 5vw;
    text-align: center;
}

#temp {
    /* Set size and center temperature reading */
    font-size: 20vw;
    text-align: center;
}

#condition {
    /* Set size and center condition */
    font-size: 5vw;
    text-align: center;
}

section {
    /* Bottom section height set to rest of page */
    height: 65%;
}